<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personDao" class="com.github.o0white0o.spring.demo1.dao.PersonDaoImpl">
    </bean>

    <bean id="personDaoWithDef" class="com.github.o0white0o.spring.demo1.dao.PersonDaoImpl">
        <property name="defaultAge" value="27"/>
    </bean>

    <bean id="personService" class="com.github.o0white0o.spring.demo1.service.PersonServiceImpl">
        <constructor-arg name="personDao" ref="personDao"/>
    </bean>

    <bean id="personServiceWithProp" class="com.github.o0white0o.spring.demo1.service.PersonServiceImpl">
        <constructor-arg name="personDao" ref="personDaoWithDef"/>
    </bean>

</beans>